<p><H1>Minął termin przekazywania dokumentów księgowych firmy {{fullNameReceiver}}</H1><center>
<img src='http://biuroci.cluster031.hosting.ovh.net/wp-content/uploads/2022/06/deadline.png' width='280' height='200'></center></p>
<p><font size=3> Do tej pory nie odnotowaliśmy wpływu Twoich dokumentów do nas. Dlatego chcemy zwrócić Twoją uwagę, że nasze umowy nie gwarantują terminowego rozliczenia podatkowego w przypadku dokumentacji dostarczonej po 5-tym dniu miesiąca. Dokładamy wszelkich starań, aby utrzymać najwyższą jakość naszych usług. Co za tym idzie m.in. terminowość w rozliczeniu Twoich spraw z urzędem. Nasz "miesiąc rozliczeniowy" trwa 10-15 dni, dla tego terminowe dostarczanie dokumentów ma dla nas kluczowe znaczenie.<br><br>
Jeśli Państwo dostarczyli dokumenty, prosze traktować wiadomość za niebyłą.</font></p>