<p>Cześć, <br> Do firmy {{fullNameReceiver}} wysłano już dwa przypomnienia dotyczące dostarczenia dokumentów.<br>
Do tej pory nie wpłynęły dokumenty do księgowości. Zalecam kontak telefoniczny z klientem. <br></p>