<p>Cześć, <br>
Jutro o godzinie 12:00 zostaną wysłane informacje do klientów, że minął termin dostarczania dokumentów, dlatego sprawdź czy statusy dokumentów w kartotekach dodatkowych w Raks spółka NazwaSpółki zostały poprawnie uzupełnione.<br><br></p>