<H1>Informacja o terminie przekazania dokumentów księgowych dla firmy {{fullNameReceiver}}</H1><center>
<img src='http://biuroci.cluster031.hosting.ovh.net/wp-content/uploads/2022/06/Receipt.png' width='280' height='200'></center>
<p><font size=3>Uprzejmie prosimy o dostarczenie do nas dokumentów księgowych do końca 5-ego dnia miesiąca. Umożliwi to nam terminowe rozliczenie Twojego podatku. Zachęcamy do tego, aby przekazywane dokumenty były w formie elektronicznej JPK lub PDF, co znacząco wpłynie na szybkość i jakość naszych usług.</font></p>