<font size=3><p>Dzień dobry,<br><br>
    W załączeniu przesyłamy e-fakturę wystawioną dla firmy <strong> {{fullNameReceiver}}:</strong><br>
    Nr faktury: <strong>{{number}}<br></strong>
    Data wystawienia: <strong>{{issueInvoiceDate}}<br></strong>
    Kwota do zapłaty: <strong>{{grossAmountInPln}} zł <br></strong>
    Termin płatności: <strong>{{dueDate}} <br></strong>
    Sposób płatności: <strong>{{nameOfPayment}} <br></strong></p>
    <p>Zeskanuj kod QR swoją bankową aplikacją mobilną, by uzupełnić dane do przelewu i opłać fakturę jednym kliknięciem. <br><br><img src='cid:bufferideaId{{number}}' alt='QRcode'/><br></font></strong><br></p>
    <p><font size=1>Informujemy, że załączone dokumenty w formacie PDF są fakturami w rozumieniu Rozporządzenia Ministra Finansów z dnia 20 grudnia 2012 r. w sprawie przesyłania faktur w formie elektronicznej,
        zasad ich przechowywania oraz trybu udostępniania organowi podatkowemu lub organowi kontroli skarbowej. Można je przechowywać w formie elektronicznej lub papierowej po wydrukowaniu. <br><br>
        Treść tej wiadomości zawiera informacje przeznaczone wyłącznie dla jej zamierzonego adresata. Jeżeli nie jesteście Państwo jej adresatem, bądź otrzymaliście ją przez pomyłkę, prosimy o powiadomienie o tym nadawcy oraz trwałe jej usunięcie.</font><br><br></p>
