<p>Cześć, <br>
1-szego o godzinie 12:00 podejmę próbę wysłania faktur sprzedażowych do klientów. Proszę sprawdź czy wszystkie faktury zostały wystawione w Raks spółka NazwaSpółki - moduł sprzedaż.  <br></p>