<p>Cześć, <br>
Jutro o godzinie 12:00 zostaną wysłane informacje do klientów, dotyczące płatności za faktury sprzedażowe, dlatego sprawdź czy statusy faktur sprzedażowych są poprawne w Raks spółka NazwaSpółki - moduł sprzedaż. <br></p>
