<H1>Upływający termin płatności faktury nr {{number}} za usługi opieki księgowej</H1><center><img src='http://biuroci.cluster031.hosting.ovh.net/wp-content/uploads/2022/06/Reminder.png'></center>
<p><strong>Dzień dobry,</strong><br>
{{dueDate}} upływa termin płatności faktury nr {{number}} za usługi opieki księgowej.<br>
Kwota do zapłaty<strong>: {{grossAmountInPln}} zł </strong><br>
Nazwa klienta <strong>: {{fullNameReceiver}} </strong><br>
Sposób płatności: <strong>{{nameOfPayment}} <br></strong></p>
<p>Jeżeli płatność została zrealizowana, dziękujemy.</p>
<p>Dzięki terminowej wpłacie odsetki nie zostaną naliczone.</p>