<H1>Informujemy o braku wpłaty za wystawioną fakturę nr {{number}} za usługi opieki księgowej</H1><center><img src='http://biuroci.cluster031.hosting.ovh.net/wp-content/uploads/2022/06/OutstandingDebts.png'></center>
<p><strong>Dzień dobry,</strong><br>
Uprzejmie informuję, że na dzień <strong>  {{currentDate}} </strong> Państwa zadłużenie wobec NazwaSpółki Sp. z o.o. z tytułu wystawionych faktur o numerze {{number}}<br>
z datą płatności<strong> <font color=red> {{dueDate}}</font></strong> wynosi <strong> {{grossAmountInPln}} zł</strong> brutto.<br>
Prosimy o uregulowanie ww. zadłużenia w terminie do dnia  {{lastReminderDay}}
(liczy się data wpływu środków na konto Biura).</p>
<p>W razie braku wpłaty w wyżej wskazanym terminie, Biuro wyśle do Państwa wezwanie do zapłaty, za które zostanie naliczona opłata.</p>
<p>Jeżeli dokonali Państwo spłaty ww. kwoty w dniu dzisiejszym, prosimy uznać wiadomość za niebyłą.</p>