<p>Dzień dobry {{fullNameReceiver}},<br><br>
<H1><font size=4><center>Wprowadzamy nową funkcjonalność ułatwiającą płatności</center></font></H1><center><img src='http://biuroci.cluster031.hosting.ovh.net/wp-content/uploads/2022/06/qrqodescan.png' width='300' height='150'/></center><br><br>
Wprowadziliśmy to usprawnienie, aby zwiększyć jakość naszych usług jakie dla Ciebie świadczymy.<br>
Ułatwienie dotyczy płatności za faktury opieki księgowej, w przesłanej wiadomości od tej pory będzie umieszczony KOD QR. Wystarczy go zeskanować Twoją bankową aplikacją mobilną, by dane do przelewu uzupełniły się same.<br><br>
Zmieniamy się dla Ciebie :) <br></p>