<p><H1>Ryczałt ewidencjonowany firmy {{nameOwner}} za {{settlementPeriod}}</H1>
<img src='http://biuroci.cluster031.hosting.ovh.net/wp-content/uploads/2022/06/Ryczalt.jpg' width='280' height='200'></p>
<p><br>Dzień dobry,<br><br>
informujemy, że kwota do zapłaty z tytułu podatku ryczałt ewidencjonowany za miesiąc {{settlementPeriod}} wynosi <strong> {{tax}} zł.</strong><br></p>
<p>W przypadku jakichkolwiek wątpliwości dotyczących kwoty prosimy o kontakt. <br></p>