<p><H1>VAT firmy {{nameOwner}} za {{settlementPeriod}}</H1>
<img src='http://biuroci.cluster031.hosting.ovh.net/wp-content/uploads/2022/06/VAT.jpg' width='280' height='200'></p>
<p><br>Dzień dobry,<br><br>
informujemy, że kwota do zapłaty z tytułu podatku VAT za miesiąc {{settlementPeriod}} wynosi <strong> {{tax}} zł.</strong><br></p>
<p>Termin płatności: <strong> {{dueDateVat}}.</strong><br></p>
<p><br><strong>Nadwyżka podaktku naliczonego nad należnym </strong> do rozliczenia w przyszłych okresach wynosi  <strong> {{vatOverPayment}} zł.</strong><br></p>
<p>W przypadku jakichkolwiek wątpliwości dotyczących kwoty prosimy o kontakt. <br></p>